// Code
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.4;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f4f4f4;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

// image
img {
    background: #fff;
    padding: 8px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.23);
    max-width: 95%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.captioned-img {
    text-align: center;
    border: none;
    font-size: $vsmall-font-size;
    overflow: hidden;
}

.captioned-img dd {
    padding: 2px 0px 3px 0px;
    margin: 0;
}

.captioned-img dt {
    margin: 0;
}

.captioned-img img {
    display: block;
    margin: auto auto;
    padding: 0;
    border: none;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignleft {
    float: left;
    margin-top: 0;
    margin-right: 1em;
    margin-bottom: 0.75em;
}
.alignright {
    float: right;
    margin-top: 0;
    margin-left: 1em;
    margin-bottom: 0.75em;
}
@include media-query($mobile) {
    .alignleft, .alignright {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}

// table
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5;
  font-size: 1.125rem;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 12px;
        line-height: 1.2;
        vertical-align: top;
        border-top: 1px solid #333;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #333;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid #333;
  }
}
